body, input, button {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #525252;
}

/* 
<Navigation Bar Setting> 
*/
nav {
    width: 100%;
    height:50px;
    display: flex;
    justify-content: space-between;
    
    /* color: #4f4f4f; */
}
nav ul {
    list-style-type: none;
    height: 50px;
    padding: 10px 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12.5px;
    

}

#sign-in {
    background-color: #4D90FE;
    border-style: none;
    border-radius: 2px 2px;
    color: #f7f8fa;
    padding: 8px 13px;
    font-weight: bold;

}
#sign-in:hover {
    box-shadow: 0 0.5px 0.5px 0.5px #d5d5d5;
}

nav a {
    text-decoration: none;
    color: #7e7d7d;
}

nav a:visited {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: #7e7d7d;
}

/* nav and footer inner block alignment */
.top-left, .top-right {
    display: inline-block;
    padding: 10px 20px;
}
.top-left li {
    display: inline;
    /* float: left; */
    padding: 10px;
}
.top-right li {
    display: inline;
    /* float: right; */
    padding: 10px;
}


/* 
<Section Setting>
*/
section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;

}

section div {
    display: block;
}

/* Logo */
#logo-g {
    padding: 0 50px;
}

/* #form - Search Bar Style */
.search-form {
    margin:30px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    border-radius: 50px 50px;
    border: 0.5px solid #e6e6e6;
    padding: 0px 15px 0px 15px
}
.search-bar:hover {
    box-shadow: 0 1px 5px 1px #d5d5d5;
}

#magnifying-glass {
    height: 18px;
    padding: 10px 5px 10px 0px
}

#input {
    border-style: none;
    height: 20px;
    width: 420px;
    font-size: 16px;
    /* background-image: url("img/search.jpg");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 10px 16px; */
    padding: 10px 5px 10px 5px
}

#input:focus {
    outline:none;
}

#mic {
    height: 20px;
    padding: 10px 10px 10px 10px
}

/* #form - Search Button STyling */

.button-group {
    margin-top: 30px;
}

.searchButton {
    background-color: #f7f8fa;
    border-style: none;
    border-radius: 3px 3px;
    font-size: 13.5px;
    padding: 9px 18px;
    margin: 0 4px;
}
.searchButton:hover {
    box-shadow: 0 0.5px 1px 1px #d5d5d5;
}

/* Language OFfered */
.language {
    font-size: 13px;
}

/* 
<Footer Setting> 
*/

footer {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    font-size: 14px;
    background-color:  #ededed;
    display: flex;
    justify-content: space-between;
    
}

footer ul {
    list-style-type: none;
    height: 40px;
    padding: 10px 0;
    margin: 0;
    box-sizing: border-box;
}

footer div {
    display: inline-block; 
    padding: 10px 0;
    margin: 0 auto;
}

footer a {
    text-decoration: none;
    color: #7e7d7d;
}

footer a:visited {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #7e7d7d;
}

#carbon {
    height: 14px;
}

/* image sizing */
#app-menu {
    height: 20px;

}